.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.3s;
}

.iconContainer:hover {
  background-color: #eee;
}

.iconContainer svg {
  height: 2rem;
  width: 2rem;
}
